{% extends 'base.html ' %}
{% block title %}
  HomePage
{% endblock %}
{% block content %}
  {% load static %}
  <h1>Welcome to homepage</h1>
  {% if user.is_authenticated %}
    <h2>Currently Logged in as
      {{ request.user }}</h2>
    <a href="{% url 'logout' %}">Logout</a>
    {% csrf_token %}
    {% if has_wallet == True %}
      <p>Wallet : Active</p>
      <a href="{% url 'record-income' %}">Record Income</a>{% csrf_token %}
      <a href="{% url 'record-expense'%}">Record expense</a>{% csrf_token %}
      {% else %}
      <a href="{% url 'create-wallet' %}">Create Wallet</a>
      {% csrf_token %}
    {% endif %}
  {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% csrf_token %}
    <a href="{% url 'register' %}">Register</a>
    {% csrf_token %}
  {% endif %}
{% endblock %}
